* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Website Styling */

html{
    scroll-behavior: smooth;
}

body {
    background-color: #0A192F;
}


a {
    text-decoration: none;
    color: rgb(253, 249, 249);
}


/* tags font */

h1 {
    font-family: 'Vollkorn', serif;
}

h2 {
    font-family: 'Lora', serif;
}

p {
    font-size: 1.2em;
    color: #7D88A5;
    text-align: justify;
    font-family: 'Signika', sans-serif;

}

button,
li {
    font-family: 'Signika', sans-serif;
}

/* tags font */



/* Website Styling */











.mobile-navbar {
    display: none;
}




.folio-navbar {
    width: 100%;
    display: flex;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #0a192f9a;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}



.navbar-right {
    width: 80%;
    display: flex;
    margin-left: 5em;
}

.navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    color: white;
    font-size: 1em;
}

.navbar-list a {
    color: white;
}

/* navbar */

.folio-hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 70px;
}



.left-hero-section {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.left-hero-section h1 {
    font-size: 4em;
    font-weight: 200;
    color: #CCD6F6;
    margin-top: 2em;
}

.left-hero-section p {
    font-size: 1.2em;
    color: #7D88A5;
    text-align: justify;
}

.sign {
    margin: 20px;
    width: 30%;
}








.right-hero-section {
    width: 50%;
    padding: 10px;
    display: flex;
    position: relative;
    border-radius: 20px;
}

.hero-section-image {
    z-index: -1;
}

.right-hero-section img {
    width: 100%;
    border-bottom: 10px solid #0400004c;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.409));
}



.hiring-hero-section-button {
    position: fixed;
    right: 120px;
    top: 230px;
    transform: translateY(-50%);
    width: 140px;
    height: 40px;
    transition: all 0.5s ease;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    background-color: #009b53;
    color: white;
    display: flex;
    justify-content: center;
    gap: 6px;
    z-index: 3;


}

.hiring-hero-section-button:hover {
    pointer-events: painted;
    cursor: pointer;
}


/* About */

.folio-about-me {
    width: 100%;
    padding: 70px;
    height: 100vh;
}

.about-me {
    text-align: left;
    font-size: 4em;
    font-weight: 200;
    color: #fcfcf9;
}

hr {
    width: 100%;
    opacity: 20%;
}

.box-about {
    padding: 20px;
    display: flex;
    width: 100%;
}

.right-about-me {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.left-about-me {
    padding: 20px;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

.left-about-me img {
    width: 70%;
    border: none;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.409));
}

.whatsapp {
    padding: 10px;
    border-radius: 20px;
    color: green;
    position: absolute;
    background-color: white;
    right: 100px;
    bottom: 210px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.409));

}

/* SKILLS */

.folio-skills {
    width: 100%;
    height: 100vh;
    padding: 70px;
}

.about-skills {
    font-size: 3em;
    font-weight: 200;
    color: #CCD6F6;
}

.folio-skills-block {
    width: 100%;
    display: flex;
    padding: 20px;
    height: 70vh;

}

.left-skills {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #CCD6F6;
}

.left-skills-top {
    width: 100%;

}

.left-skills-top-text {
    padding: 5px;
    text-align: justify;
    font-size: 1.090em;

}

.left-skills-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.left-skills-down {
    width: 100%;

}


.skills-image button {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 0px 70px 40px 80px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1em;
    border-top: 2px solid #009b53;
    border-left: 2px solid #009b53;
    box-shadow: 2px 3px rgb(229, 255, 0);
}

.skills-image-btn:hover {
    cursor: pointer;
    background-color: black;
    color: yellow;
    transition: 0.5s ease-in-out;
}

.skills-image-btn:active {
    box-shadow: 0px 0px 10px gray;
    transform: translateY(3px);
}


.right-skills {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.rishi-skills-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rishi-skills-image img {

    width: 60%;
    box-shadow: 2px 2px rgb(229, 255, 0);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.409));
    border-radius: 0px 70px 40px 80px;
    border-top: 2px solid green;
}

.rishi-skills-image img:hover {
    filter: grayscale(80);
    border-top: 2px solid green;
    box-shadow: 2px 2px rgb(229, 255, 0);
}

/* SKILLS */


/* PROJECTS  */
.folio-projects {
    width: 100%;
    padding: 70px;
}

.projects-box {
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.about-projects {
    text-align: center;
    font-size: 4em;
    font-weight: 200;
    color: #CCD6F6;
}


.projects-about-para {
    margin: 10px;
    text-align: center;
    color: yellow;
    opacity: 0.4;
}

.top-projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;


}

.projects-box-inside {
    width: 33%;
    padding: 30px;
    border-top: 2px solid #009b53;
    border-left: 2px solid #009b53;
    box-shadow: 2px 3px rgb(229, 255, 0);
    border-radius: 10px;
}

.projects-box-inside:hover {
    transition: 0.9s ease-in-out;
    border-top: 2px solid rgb(229, 255, 0);
    border-left: 2px solid rgb(229, 255, 0);
    box-shadow: 2px 3px #05ed2c;
    background-color: rgb(150, 11, 150);
}

.projects-box-inside-icon:nth-child(1) {
    display: flex;
    margin: 10px;
    color: rgba(231, 236, 231, 0.888);
    justify-content: space-between;
}

.projects-box-inside-icon :nth-child(2) {
    margin: -15px;
    color: yellow;
}

.projects-box-inside-heading {
    color: wheat;
    font-size: 1em;
}

.projects-box-inside-para {
    color: wheat;
    text-align: justify;
    padding: 5px;
    font-size: 15px;
}

.projects-box-inside-tech-used {
    display: flex;
    opacity: 0.5;
    width: 30%;
    gap: 10px;
    margin-top: 10px;
    font-size: 12px;
}

/* PROJECTS  */

/* footer */

.folio-footer {
    width: 100%;
    padding: 70px;
    display: flex;
    flex-direction: column;
}

.footer-top {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 2em;
    justify-content: center;
}

.icon-box {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon-box i {
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    color: #0A192F;
}

.icon-box i:hover {

    transform: scaleX(-1);
}

.footer-bottom {
    text-align: center;
    width: 100%;
}


.folio-button-social {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lhs-social {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    font-size: 2em;
    color: white;
    position: fixed;
    bottom: 10px;
    left: 30px;
}

.lhs-social :hover {
    color: rgb(18, 236, 58);
}

.footer-bottom p {
    margin-top: 10px;
    text-align: center;
}


/* footer */



/* RESPONSIVE DESIGN */
@media only screen and (max-width:768px) {

    .folio-navbar {
        display: none;
    }

    .mobile-navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #0a192f9a;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);        padding: 20px;
        position: fixed;
        z-index: 1;
    }

    .nav-logo {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 5px;
    }

    .nav-logo img {
        width: 20%;
    }

    .mobile-button {
        width: 40%;

    }

    .menu-bar {
        width: 30%;
        display: flex;
        justify-content: right;

    }

    /* menu bar end */

    /* hero section  */


    .folio-hero-section {
        width: 100%;
        display: flex;
        padding: 20px;
    }



    .left-hero-section {
        width: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .left-hero-section h1 {
        font-size: 4em;
        font-weight: 200;
        color: #CCD6F6;
        margin-top: 2em;
    }

    .left-hero-section p {
        font-size: 1.2em;
        color: #7D88A5;
        text-align: justify;
    }

    .sign {
        margin: 20px;
        width: 30%;
    }








    .right-hero-section {
        width: 50%;
        padding: 10px;
        display: flex;
        position: relative;
        border-bottom: 0px;
        border-radius: 20px;
    }

    .hero-section-image {
        display: flex;
        width: 100%;
        margin-top: 200px;
    }

    .right-hero-section img {
        width: 100%;
        z-index: 1;
    }

    /* hero section  */

    /* about section  */


    .folio-about-me {
        width: 100%;
        padding: 20px;
        height: 100vh;
    }

    .about-me {
        text-align: left;
        font-size: 3em;
        font-weight: 200;
        color: #fcfcf9;
    }

    hr {
        width: 100%;
        opacity: 20%;
    }

    .box-about {
        padding: 0px;
        display: flex;
        width: 100%;
    }

    .right-about-me {
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: left;
        width: 50%;
    }

    .left-about-me {
        padding: 50px;
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left-about-me img {
        width: 300px;
        height: 350px;

    }

    .whatsapp {

        right: -10px;
        bottom: 280px;
    }

    /* about section  */

    /* Skills section  */




    .folio-skills {
        width: 100%;
        height: 100vh;
        padding: 20px;
    }

    .about-skills {
        font-size: 3em;
        font-weight: 200;
        color: #CCD6F6;
    }

    .folio-skills-block {
        width: 100%;
        display: flex;
        padding: 20px;

    }

    .left-skills {
        width: 50%;
        display: flex;
        justify-content: safe;
        flex-direction: column;
        color: #CCD6F6;
    }

    .left-skills-top {
        width: 100%;
    }

    .left-skills-top-text {
        padding: 5px;
        text-align: justify;
        font-size: 1.090em;

    }

    .left-skills-button {
        width: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin-top: 2rem;
        margin-left: 8rem;
    }

    .left-skills-down {
        margin-top: 1rem;
        text-align: justify;
        width: 100%;
        margin-left: 10rem;
    }


    .skills-image button {
        width: 100%;
        padding: 20px;
        border: none;
        border-radius: 0px 70px 40px 80px;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 1em;
        border-top: 2px solid #009b53;
        border-left: 2px solid #009b53;
        box-shadow: 2px 3px rgb(229, 255, 0);
    }

    .skills-image-btn:hover {
        cursor: pointer;
        background-color: black;
        color: yellow;
        transition: 0.5s ease-in-out;
    }

    .skills-image-btn:active {
        box-shadow: 0px 0px 10px gray;
        transform: translateY(3px);
    }


    .right-skills {
        width: 50%;
        height: 71%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        padding: 0%;
    }

    .rishi-skills-image {
        display: flex;
        align-items: flex-start;
    }

    .rishi-skills-image img {

        width: 80%;
        box-shadow: 2px 2px rgb(229, 255, 0);
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.409));
        border-radius: 0px 70px 40px 80px;
        border-top: 2px solid green;
    }

    .rishi-skills-image img:hover {
        filter: grayscale(80);
        border-top: 2px solid green;
        box-shadow: 2px 2px rgb(229, 255, 0);
    }












    /* Skills section  */




    /* PROJECTS DIV */

    .folio-projects {
        width: 100%;
        padding: 20px;
    }


    .projects-box {
        width: 100%;
        padding: 20px;
        display: flex;
        gap: 20px;
    }

    .about-projects {
        font-size: 3em;
    }

    .top-projects {
        gap: 10px;
        padding-left: 0px;
        padding-right: 0px;

    }

    .projects-box-inside-tech-used {
        opacity: 0.5;
        width: 30%;
        gap: 10px;
        margin-top: 0px;
        font-size: 12px;
    }


    /* PROJECTS DIV */










    /* FOOTER DIV */

    .folio-footer {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .icon-box i {
        padding: 5px;
        font-size: 20px;
        border-radius: 10px;
        background-color: white;
        color: #0A192F;
    }


    /* FOOTER DIV */


    /* FOOTER S0CIAL ICONS */

    .folio-button-social {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .lhs-social {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5em;
        font-size: 2em;
        color: white;
        position: relative;
        bottom: 0px;
        left: 0px;
    }

    .lhs-social :hover {
        color: rgb(18, 236, 58);
    }

    /* FOOTER S0CIAL ICONS */



}
